{% extends "index.html" %}

{% block title %}Carte des événements{% endblock title %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/leaflet/leaflet.css" />
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/leaflet/leaflet.js"></script>
    <style>
    #map { height: 520px; overflow: hidden; }
    </style>
{% endblock %}

{% block content %}

<div id="map"></div>

<script src="{{ SITEURL }}/extra/js/map.js"></script>

{% endblock content %}
